html {
  background-color: #EEE2DC;
}

nav {
  background-color: black;
}

#hoverChange:hover {
  background-color: #BAB2B5;
}

a.nav-link {
  color: white;
}

div.background {
  width: 100%;
  background-image: url("../img/pju2.jpg");
  background-position: center;
  background-size: cover;
  height: 513px;
}

.title {
  position: relative;
  left: 15%;
  top: 10%;
  color: white;
  width: 85%;
}