html {
  height: 100%;
}

body {
  height: 100%;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  z-index: 1000;
  width: 100%;
  height: 10%;
}

#hoverChange:hover {
  background-color: #BAB2B5;
}

#hoverChange {
  background-color: black;
}

#background {
  width: 100%;
  height: 80%;
  position: relative;
  left: 0px;
  top: 0px;
  background-image: url("../img/pju.jpg");
  background-position: 100% 35%;
  background-size: cover;
  display: block;
}

#card {
  width: 18rem;
}

@media screen and (max-width: 575.98px) {
  #background {
    width: 100%;
    height: 50%;
    position: relative;
    left: 0px;
    top: 0px;
    background-image: url("../img/pju1.jpg");
    background-position: 50% 30%;
    background-size: cover;
    display: block;
  }

  #card {
    margin: auto;
    width: 70%;
  }

  .title {
    position: relative;
    left: 15%;
    top: 100%;
    color: white;
    width: 85%;
  }
}

.title {
  position: relative;
  left: 15%;
  top: 20%;
  color: white;
  width: 85%;
}

.navbar-nav {
  position: absolute;
  right: 10px;
}

.question {
  position: relative;
  top: 0px;
  display: inline-block;
}

.card {
  padding: 10px 35px 0px 35px;
}

form {
  position: relative;
  top: 15%;
}