html {
  background-color: #EEE2DC;
}

nav {
  background-color: black;
  position: fixed;
}

#hoverChange:hover {
  background-color: #BAB2B5;
}

div.background {
  width: 100%;
  background-image: url("../img/pju2.jpg");
  background-position: center;
  background-size: cover;
  height: 502px;
}

.title {
  position: relative;
  left: 15%;
  top: 20%;
  color: white;
  width: 85%;
}

.navbar-nav {
  position: absolute;
  right: 10px;
}